.data-table {
  background-color: #f9fafb; /* gris muy claro */
  color: #374151; /* gris oscuro */
}

.table-row:hover {
  background-color: #e0f2fe; /* azul muy suave al pasar mouse */
}

.table-header-cell {
  background-color: #f3f4f6; /* gris claro para encabezados */
  font-weight: 600;
}
